@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;400;500;700&display=swap');
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: Google Sans, BlinkMacSystemFont, sans-serif !important;
}
.text-sm-h4 , .text-h4 {
    font-family: Google Sans, BlinkMacSystemFont, sans-serif !important;
}
#stay .font-weight-medium {
    font-weight: 500 !important;
}
#stay .text-sm-h4, #stay .text-h4 {
    font-size: 1.25rem !important;
}
#stay .text-body-2 {
    font-size: .9375rem !important;
    line-height: 1.4375rem;
}
ul{
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
    unicode-bidi: isolate;
}
.promoDiv .text-button, .roomLeftDiv .text-button{
    font-size: .75rem !important;
}
.promoText {
    color: rgba(0, 0, 0, .38) !important;
    text-decoration: line-through !important;
    font-size: 12px !important;
    font-family: Google Sans, BlinkMacSystemFont, sans-serif !important;
}
.priceDiv{
    font-family: Google Sans, BlinkMacSystemFont, sans-serif !important;
}
.priceTotal{
    font-size: 1.125rem !important;
}
.text-h8{
    font-size: .875rem !important;
}
.priceAll{
    color: rgba(0, 0, 0, .6) !important;
    font-size: .9375rem !important;
}
.text-sm-caption {
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.0333333333em !important;
    font-family: "Roboto", sans-serif;
    text-transform: none !important;
}
.divNotes{
    font-size: .75rem !important;
    line-height: 1.2rem;
}
.btnBook span{
    font-size: .875rem;
}
.btnBook{
    min-width: 120px;
}
.btnPrimary{
    background-color:#1a73e8;
}
.txtPrimary{
    color:#1a73e8;
}

.searchList{
    cursor: pointer;
}
.searchList:hover{
    background-color:#fcfcfc;
}

@media (min-width: 600px) {
    .text-sm-h4 {
        font-size: 1.25rem !important;
        line-height: 1.75rem;
    }
}

@media (min-width: 984px) {
    .container {
        max-width: 1032px;
    }
}
